{% extends 'base.html' %}
{% block content %}
<h3 align="center">
    Index = Chirps
</h3>
<div class="row-container">

    {% if user.is_authenticated %}
        <form method="post" action="{% url 'message' %}">
            {% csrf_token %}
            <input type="text" name="status" placeholder="What's on your mind?" align="center" autofocus maxlength="140" required id="id_message"/>
            <br>
            <button type="submit" class="color-btn">Chirp</button>
            <br><br><br>
        </form>
    {% endif %}


    {% for message in object_list %}
    <div class="row chirp">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    {% if user == message.user %}
                    <span class="label label-primary username">@{{ message.user.username }}</span>
                    {% else %}
                    <span class="label label-default username">@{{ message.user.username }}</span>
                    {% endif %}
                    <small>{{ message.created }}</small>
                </p>
                <p>{{ message }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}