{% extends 'base.html' %}
{% block content %}
<h3 align="center">
    All Profiles
</h3>
<div class="row-container">

    {% for current_user in users %}
    <div class="row chirp">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    {% if user == current_user %}
                    <span>

                    <h4> My profile:</h4>

                        <span class="label label-primary username">  Username </span>: <span class="label label-primary username"> @{{ current_user.username }}</span> <br><br>
                        <span class="label label-primary username"> First name </span>: <span class="label label-primary username">
                        {% if current_user.first_name == '' %} .....  </span> <br> <br>
                        {% else %}
                        {{ current_user.first_name }} </span> <br> <br>
                        {% endif %}

                        <span class="label label-primary username"> Last name </span>: <span class="label label-primary username">
                        {% if current_user.last_name == '' %} .....  </span> <br> <br>
                        {% else %}
                        {{ current_user.last_name }} </span> <br> <br>
                        {% endif %}

                        <span class="label label-primary username"> Email address  </span>: <span class="label label-primary username">
                        {% if current_user.email == '' %} .....  </span> <br> <br>
                        {% else %}
                        {{ current_user.email }} </span> <br> <br>
                        {% endif %}


                    </span>
                    {% else %}
                    <span>

                        <span class="label label-default username"> Username </span>: <span class="label label-default username"> @{{ current_user.username }}</span> <br><br>
                        <span class="label label-default username"> First name </span>: <span class="label label-default username">
                        {% if current_user.first_name == '' %} .....  </span> <br> <br>
                        {% else %}
                        {{ current_user.first_name }} </span> <br> <br>
                        {% endif %}

                        <span class="label label-default username"> Last name </span>: <span class="label label-default username">
                        {% if current_user.last_name == '' %} .....  </span> <br> <br>
                        {% else %}
                        {{ current_user.last_name }} </span> <br> <br>
                        {% endif %}

                        <span class="label label-default username"> Email address  </span>: <span class="label label-default username">
                        {% if current_user.email == '' %} .....  </span> <br> <br>
                        {% else %}
                        {{ current_user.email }} </span> <br> <br>
                        {% endif %}

                    </span>
                    <br>

                    {% csrf_token %}
                    <a href="{% url 'profile' current_user.username %}">
                        <button type="submit" class="color-btn">View Profile</button>
                    </a>

                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}